<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Face Shape Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Face Shape Detection</h1>
        <div class="box">
            <div class="button-container">
                <a href="/upload" class="button">Upload Image</a>
                <a href="/real_time" class="button">Real-Time Camera Feed</a>

            </div>
        </div>
    </div>
</body>
</html>
